.contenedor-principal {
    width: 100vw;
    height: 97vh;
    margin-top: 4vh;
    position: absolute;
    top: 0;
    left: 0;
}

.contenedor-recursos {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recurso {
    width: 30%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    padding: 1rem;
    border: 2px solid rgb(255,255,255);
}

.recurso img {
    width: 100%;
}

.info-recurso {
    width: 100%;
    text-align: center;
}

.info-recurso p {
    margin: 0;
}

.info-recurso a {
    text-decoration: none;
}

body {
    margin:0;
}


nav 
{
    float: right;
}
ul, ol
{
    list-style: none;
}

.nav > li 
{
    float:left;
}

.nav li a
{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover
{
    background-color: #6D7A88;
}

.nav li ul
{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul 
{
    display:block;
}
.nav li ul li 
{
    position:relative;
}
            
.nav li ul li ul
 {
    right:-140px;
    top:0px;
}
#logo-header {
    float: left;
    padding: 0px 0 0 8px;
    text-decoration: none;
}
    #logo-header:hover {
        color: #0b76a6;
    }
    
    #logo-header .site-name {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
    }
    .site-name
    {
        padding:left: 20px;
    }
    
    #logo-header .site-desc {
        display: block;
        font-weight: 300;
        font-size: 0.8em;
        color: #999;
    }
}
#main-header {
    background: #000;
    color: white;
    height: 80px;
    
    width: 100%;
    left: 0; 
    top: 0; 
    position: fixed; 
}

#main-header {
    background: #000;
    color: white;
    height: 80px;
}   
    #main-header a {
        color: white;
    }

.titulo-recurso{
    color: white;
 }
